.jumbotron{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjKJjE8iZuRrkjIcWJ8K7kimxCBRnMIv2ecw&usqp=CAU);
    background-size: cover;
    height:600px;
}
div.jumbotron > h1{
    text-align:center;
    color: antiquewhite;
}
.col-sm-6{
    background-color:thistle;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to left , lightgray, thistle, lightgray);
}
h2{
    text-align:center;
}
p{
    font-size: 16px;
}
th{
    color:#a65f54;
}
td{
    color:salmon;
}
.black{
    border-color: black;
  }
img{
    height: 200px;
    text-align: center;
    display: block;  
    margin-left: auto;  
    margin-right: auto;
}
.color{
    
    color:#a65f54;
}
.navbar-eli{
    background-image: linear-gradient(to right, thistle, lightgray);

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
